<footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
        {% if LINK_TWITTER %}
          <a href="{{LINK_TWITTER}}" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          {% endif %}
          {% if LINK_FACEBOOK %}
          <a href="{{LINK_FACEBOOK}}" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          {% endif %}
          {% if LINK_INSTAGRAM %}
          <a href="{{LINK_INSTAGRAM}}" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          {% endif %}
      </p>
      <p class="m-0 mbt">
          <a href="#" class="link">Política de privacidad</a> ·
          <a href="#" class="link">Aviso legal</a> ·
          <a href="#" class="link">Cookies</a>
      </p>
      <p class="m-0 mbt1">&copy; La Caffettiera 2018</p>
    </div>
  </footer>