{% load pages_extras %}
<footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
        {% if LINK_TWITTER %}
          <a href="{{LINK_TWITTER}}" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
        {% if LINK_FACEBOOK %}
          <a href="{{LINK_FACEBOOK}}" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
        {% if LINK_INSTAGRAM %}
          <a href="{{LINK_INSTAGRAM}}" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
      </p>
      <p class="m-0 mbt">
        {% get_pages_list as page_list %}
          {% for page in page_list %}
            <a href="{% url 'page' page.id page.title|slugify %}"class="link">{{page.title}}</a> {% if not forloop.last %}·{% endif %}
          {% endfor %}
      </p>
      <p class="m-0 mbt1">&copy; La Caffettiera 2020</p>
    </div>
  </footer>
