{% extends 'core/base.html' %}

{% load static %}

{% block title %}Consulta{% endblock %}

{% block content %}
    <div class="col-xl-9 col-lg-10 mx-auto">
        <div class="bg-faded rounded p-5">
            <section class="page-section">
                <div class="container">
                    <div class="product-item">
                        {% for columna in columnas %}
                            <tr>
                            {% for c in columna %}
                                <td scope="row">
                                    {{c}}
                                    <br>
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
